<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ category.name }}</title>
</head>
<body>
    <h1>{{ category.name }}</h1>
    <ul>
        {% for vegetable in vegetables %}
            <li>
                <a href="{% url 'vegetable_detail' vegetable.id %}">
                    <img src="{{ vegetable.image.url }}" alt="{{ vegetable.name }}" width="100" height="100">
                    <p>{{ vegetable.name }} - {{ vegetable.price }} - {{ vegetable.weight }} - {{ vegetable.offer }}</p>
                </a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
